.nav{
  transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
  cursor: pointer;
  float: right;
  padding: 30px 20px;
}/* Style label tag */

.hamb-line {
  background: rgb(30 64 175);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
  background: rgb(30 64 175);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */


/* Toggle menu icon */
.side-menu:checked ~ nav{
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}


@media (min-width: 640px) {
  .nav{
      max-height: none;
      background-color: transparent;
  }
 
  .menu a:hover{
      background-color: transparent;
  }

  .hamb{
      display: none;
  }
}  